.site-header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: var(--space-md) var(--space-lg);
    position: sticky;
    top:0;
    background-color: var(--color-background);
    z-index: 3;
    max-width: 1200px;
}

.site-header p{
    padding:0px 0px 12px 0px;
}


body {
    background:var(--color-background);
    color:var(--color-text);
    font-family: var(--font-body);
}

nav ul {
    display:flex;
    gap:5px;
    list-style:none;
}

a{
    text-decoration: none;
    color:var(--color-text);
}

h1,h2,h3 {
    font-family: var(--font-heading);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--space-md);
}

.hero {
    color:var(--color-text);
    padding: var(--space-xs);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero img {
    margin-bottom: 20px;
    border-radius: 50%;
    transition: transform 0.3s ease,
                box-shadow 0.3s ease;
}

.hero img:hover {
    transform: scale(1.03);
    box-shadow: 0 0px 18px rgba(5, 143, 255, 0.829);
}

.hero p {
    font-size: 14px;
    color:var(--color-text-secondary);
}

.nav-links a {
    /* color:var(--color-text); */
    padding: 10px 20px;
    transition: color 0.3s ease,
            background-color 0.5s ease;


}
.nav-links li:not( :last-child) { border-right:1px solid black;}
.nav-links a:hover {
    transform: scale(1.03);
    color:var(--color-surface);
    background-color: var(--color-primary);
}

.hero-buttons {
    display: flex;
    gap: var(--space-xs);
    margin-top: 20px;
}

.hero-buttons a {
    background:var(--color-accent); 
    color:var(--color-surface);
    padding: 10px 20px;
    border-radius: 50px;
    transition: transform 0.3s ease,
                background-color 0.3s ease,
                box-shadow 0.3s ease;
}

.hero-buttons a:hover {
    /* background-color: midnightblue; */
    background-color: var(--color-accent-hover);
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.proyectos-grid {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap: var(--space-lg);
}
.proyecto-article{
    position:relative;
    animation: fadeInUp 1.5s ease-out;
}
/* .proyecto-article:nth-child(2n) { background: var(--color-primary);} */

.proyectos-grid article{
    display:flex;
    flex-direction:column;
    height:100%;
   background: var(--color-surface);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    padding: 20px;

    transition:
        transform .3s ease,
        box-shadow .3s ease;
}

.proyectos-grid .proyecto-content{
    display:flex;
    flex-direction:column;
    gap:12px;
    padding:20px;
}


.proyectos-grid article:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0,0,0,.18);
}

.proyectos-grid h3{
    margin-bottom:10px;
}

.proyectos-grid article img{
    width:100%;
    height:200px;
    object-fit:cover;
    margin-top:10px;
}

.proyecto-tag{
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--color-primary);
    color: var(--color-surface);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}
.proyecto-article:hover .proyecto-tag {
    visibility: visible;
}

#proyectos h2::before{
    content:"⭐⭐";
}

#proyectos h2::after{
    content:"";
    display: inherit;
    width: 120px;
    height: 4px;
    background-color: blue;
    margin-left: 60px;
    margin-bottom: 20px;
    /* bottom: 10px; */

}

section{
    margin:var(--space-2xl) 0;
}




@media (max-width: 768px) {
    header { flex-direction: column; }
    .proyectos-grid {
        grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    }
}


@keyframes fadeInUp {
    from{
        opacity: 0;
        transform: translateY(20px) ;
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

